{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Attendant Dashboard</h2>

<div class="row g-4">
    

    <div class="col-md-6">
        <div class="card shadow border-info">
            <div class="card-body text-center">
                <h5>Register Vehicle</h5>
                <a href="{% url 'parking:register_vehicle' %}" class="btn btn-info">Add</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow border-secondary">
            <div class="card-body text-center">
                <h5>View Vehicles</h5>
                <a href="{% url 'parking:vehicle_list' %}" class="btn btn-secondary">View</a>
            </div>
        </div>
    </div>
    

</div>
{% endblock %}