{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">

<h2 class="mb-4">Manager Dashboard</h2>

<!-- FILTER -->
<form method="GET" class="row mb-4">
    <div class="col-md-4">
        <input type="date" name="start_date" class="form-control">
    </div>
    <div class="col-md-4">
        <input type="date" name="end_date" class="form-control">
    </div>
    <div class="col-md-4">
        <button class="btn btn-light w-100">Filter</button>
    </div>
</form>

<!-- STATS -->
<div class="row mb-4">

    <div class="col-md-4">
        <div class="card shadow text-center p-3">
            <h6>Tyre Revenue</h6>
            <h3>UGX {{ tyre_total }}</h3>
            <p>{{ tyre_count }} services</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow text-center p-3">
            <h6>Battery Revenue</h6>
            <h3>UGX {{ battery_total }}</h3>
            <p>{{ battery_count }} services</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow text-center p-3 bg-light text-black">
            <h6>Total Revenue</h6>
            <h3>UGX {{ total_revenue }}</h3>
        </div>
    </div>

</div>

<!-- ACTION BUTTONS -->
<div class="row mb-4">
    <div class="col-md-6">
        <a href="{% url 'service:add_tyre' %}" class="btn btn-warning w-100">
            ➕ Add Tyre Service
        </a>
    </div>

    <div class="col-md-6">
        <a href="{% url 'service:add_battery' %}" class="btn btn-primary w-100">
            ➕ Add Battery Service
        </a>
    </div>
</div>

<hr>


</div>

{% endblock %}