{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <div class="d-flex justify-content-between mb-3">
    <h3>Battery Services</h3>
    <a href="{% url 'service:add_battery' %}" class="btn btn-primary">
      + Add Service
    </a>
  </div>

  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Customer</th>
        <th>Type</th>
        <th>Price</th>
        <th>Receipt</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for battery in batteries %}
      <tr>
        <td>{{ battery.customer_name }}</td>
        <td>{{ battery.get_battery_type_display }}</td>
        <td>UGX {{ battery.price }}</td>
        <td>{{ battery.receipt_number }}</td>
        <td>{{ battery.date }}</td>
        <td>{{ battery.service.get_name_display }}</td>
        <td>UGX {{ battery.price }}</td>

        <td>
          <form
            method="POST"
            action="{% url 'service:delete_battery' battery.id %}"
            style="display: inline"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>

          <a
            href="{% url 'service:battery_receipt' battery.id %}"
            class="btn btn-success btn-sm"
          >
            Receipt
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No records</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
