{% extends 'base.html' %}
{% block content %}

<div class="container mt-4 text-center">

    <h3>Battery Receipt</h3>
    <hr>

    <p><strong>Customer:</strong> {{ battery.customer_name }}</p>
    <p><strong>Service Type:</strong> {{ battery.get_battery_type_display }}</p>
    <p><strong>Amount:</strong> UGX {{ battery.price }}</p>
    <p><strong>Receipt No:</strong> {{ battery.receipt_number }}</p>
    <p><strong>Date:</strong> {{ battery.date }}</p>

    <button onclick="window.print()" class="btn btn-success mt-3">
        Print
    </button>

    <a href="{% url 'service:battery_list' %}" class="btn btn-secondary mt-3">
        Back
    </a>

</div>

{% endblock %}