
{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h3 class="mb-3">Service Prices</h3>

    <a href="{% url 'service:add_serviceprice' %}" class="btn btn-primary mb-3">
        + Add Price
    </a>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Service</th>
                <th>Vehicle Size</th>
                <th>Model</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for p in prices %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.vehicle_size }}</td>
                <td>{{ p.model }}</td>
                <td>UGX {{ p.price }}</td>
                <td>
                    <a href="{% url 'service:update_serviceprice' p.id %}" class="btn btn-sm btn-warning">
                        Edit
                    </a>

                    <a href="{% url 'service:delete_serviceprice' p.id %}" class="btn btn-sm btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No prices added yet</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}