{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Vehicle List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Plate</th>
            <th>Driver</th>
            <th>Type</th>
            <th>Rate</th>
            <th>Status</th>
            <th>Receipt</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for v in vehicles %}
        <tr>
            <td>{{ v.number_plate }}</td>
            <td>{{ v.driver_name }}</td>
            <td>{{ v.type.vehicle_type }}</td>
            <td>{{ v.rate }}</td>

            <!-- STATUS -->
            <td>
                {% if v.status == 'parked' %}
                    <span class="badge bg-warning">Parked</span>
                {% else %}
                    <span class="badge bg-success">Signed Out</span>
                {% endif %}
            </td>

            <!-- RECEIPT -->
            <td>{{ v.receipt_number }}</td>

            <!-- ACTIONS -->
            <td>

                {% if v.status == 'parked' %}
                    <a href="{% url 'parking:signout_vehicle' v.pk %}" class="btn btn-sm btn-success">
                        Sign Out
                    </a>
                {% endif %}

                <a href="{% url 'parking:update_vehicle' v.pk %}" class="btn btn-sm btn-primary">
                    Edit
                </a>

                <a href="{% url 'parking:delete_vehicle' v.pk %}" class="btn btn-sm btn-danger">
                    Delete
                </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}